* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "balken";
  src: url("BalkenschriftRoundedVAR.ttf");
}

#loading {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 50%;
  top: 250px;
  transform: translate(-50%, -50%);
  /* transition: 0.5s; */
  background: black;
  animation: rotate 2s infinite;
  display: none;
}

#line {
  position: fixed;
  width: 2px;
  height: 0;
  background: black;
  top: 50vh;
  left: 32vw;
  transform: translate(-50%, -50%);
  transition: 800ms;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
#header {
  font-family: "balken";
  font-variation-settings: "wght" 70, "wdth" 10;
  text-align: center;
  font-size: 50px;
  margin-bottom: 30px;
  margin-top: 20px;
  transition: 800ms;
  /* padding-left: 20px; */
  box-sizing: border-box;
  /* display: none; */
  /* background: red; */
}

.separator {
  font-family: "balken";
  font-variation-settings: "wght" 50, "wdth" 20;
  font-size: 16px;
}

.arrow {
  font-family: "balken";
  font-variation-settings: "wght" 100, "wdth" 40;
  /* font-size: 16px; */
  /* margin: 0 10px; */
}

#header .a {
  font-feature-settings: "ss02";
}

#header .t1 {
  font-feature-settings: "ss17";
}

#header .f {
  font-feature-settings: "ss14";
}

#header .t2 {
  font-feature-settings: "ss12", "ss17";
}

#formCont {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  justify-items: space-between;
  align-items: space-between;
  align-content: space-between;
  font-size: 16px;
  font-family: "bookmania", serif;
}

#formCont > * {
  text-align: center;
}

input[type="file"] {
  display: none;
}

.button {
  display: inline-block;
  background: transparent;
  border: none;
  /* color: #ede3d3; */
  padding: 2px 6px;
  font-size: 14px;
  font-family: halcom, sans-serif;
  font-weight: 400;
  /* transition: 100ms; */
}

.active {
  cursor: pointer;
  color: rgb(0, 0, 0);
}
.active:hover {
  /* text-decoration: underline from-font; */
  /* font-weight: 600; */
  background: rgb(49, 49, 49);
  color: white;
}

.uploaded {
  color: green;
}

.error {
  color: red;
}

#errorMessage {
  color: red;
  font-family: halcom, sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
  font-style: normal;
  display: none;
}

#leftCont {
  /* background: #ede3d3; */
  position: fixed;
  top: 150px;
  left: 50vw;
  width: 30vw;
  padding: 30px;
  height: 100vh;
  overflow-y: scroll;
  transform: translate(-50%, 20%) scale(1.5);
  transition: 800ms;
  display: flex;
  flex-flow: column;
  align-items: center;
  z-index: 10;
}

#imgContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#gallery {
  display: flex;
  width: 60vw;
  right: 30px;
  position: absolute;
  justify-content: left;
  justify-items: left;
  top: 0px;
  opacity: 0;
  transition: 500ms;
}

.column {
  flex: 1;
  height: 100%;
  /* margin-left: 30px; */
  margin-top: 20px;
  /* border-left: solid black 0.5px; */
  /* border-right: solid black 0.5px; */
}

.column:first-child {
  border-right: none;
}

.column:last-child {
  border-left: none;
}

.gallery-cont {
  display: flex;
  position: relative;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  justify-items: right;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 5%;
}

.caption {
  position: relative;
  width: 90%;
  margin-top: 10px;
}

#send {
  opacity: 0.3;
}

.score {
  position: absolute;
  top: 0;
  right: 0;
  font-family: halcom, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 10px;
  background: rgb(49, 49, 49);
  padding: 3px;
  /* border-radius: 8px; */
  text-align: right;
}

.caption p,
a {
  /* font-family: "bookmania", serif; */
  font-family: halcom, sans-serif;

  font-weight: 300;
  font-style: normal;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 17px;
  color: black;
}

.caption a {
  text-decoration: none;
  font-weight: 400;
  transition: 100ms;
}

.caption a:hover {
  font-weight: 600;
}

.caption .title {
  font-weight: 300;
  font-style: italic;
}

.caption .artist {
  font-weight: 600;
}

.gallery-cont img {
  width: 90%;
}

#artImg {
  opacity: 0;
  transition: 500ms;
}

#imgContainer {
  opacity: 0;
  transition: 500ms;
}

#infoCont {
  margin-top: 20px;
  width: 100%;
}
#imageInfo {
  font-family: halcom, sans-serif;
  font-weight: 300;
  font-size: 12px;
}

#imageInfo.hidden {
  display: none;
}

#showInfo {
  margin-bottom: 10px;
}
